<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Targets.Syslog" />
  </extensions>
  <targets>
    <target name="syslog" type="Syslog" syslogserver="logs2.papertrailapp.com" port="17240" facility="Local7" layout="${longdate} ${message} ${exception:format=tostring}"/>
  </targets>
  <rules>
    <logger name="*" minLevel="Debug" appendTo="syslog"/>
  </rules>
</nlog>