<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog>
    <extensions>
      <add assembly="LogentriesNLog"/>
    </extensions>
    <targets>
      <target name="logentries" type="Logentries" debug="true" httpPut="false" ssl="false"
      layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}"/>
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" appendTo="logentries"/>
    </rules>
  </nlog>

  <appSettings file="Secret.config">
    <add key="slack:slashCommandToken" value="" />
    <add key="slack:responseToken" value="" />
    <add key="slack:responseBaseUrl" value="https://y77ku37939pu.runscope.net" />
    <add key="fullContact:apiKey" value="" />
    <add key="fullContact:apiBaseUrl" value="https://api.fullcontact.com/v2" />
    <add key="fullContact:webhookUrl" value="https://y77ku37939pu.runscope.net" />
    <add key="LOGENTRIES_TOKEN" value="" />
  </appSettings>

  <system.web>
    <customErrors mode="Off"></customErrors>
    <httpRuntime targetFramework="4.5.1" requestValidationMode="4.5" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>